.goodsPage{
position: absolute;
top: 50px;
left: 0px;
right: 0px;
bottom: 0px;
overflow: auto;
background: #f2f2f2;
}

.goodsPage .goodsbanner{
width: 100%;
background: #fff;
}
.goodsPage .goodsbanner .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.goodsPage .goodsinfo{
    background: #fff;
    padding: 10px 10px;
}
.goodsPage .goodsinfo h2{
font-size: 16px;
font-weight: normal;
height: 20px;
line-height: 20px;
}
.goodsPage .goodsinfo span{
    display: block;
    font-size: 12px;
    color: #757575;
    margin-top: 4px;
}
.goodsPage .goodsinfo .price{
    margin-top: 4px;
    color: #ff5000;
    font-size: 21px;
    font-weight: 700;
}
.goodsPage-wrap{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}
.goodsPage-wrap .goodsbuy{
    position: absolute;
    left: 0;
    height: 49px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #e1e1e1;
}
.goodsPage-wrap .goodsbuy .goodsbuy-left{
    height: 100%;
    font-size: 12px;
    line-height: 50px;
    padding-left: 20px;
    
}
.goodsPage-wrap .goodsbuy .buybtn{
    color: #fff;
    font-size: 16px;
    float: right;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 48px;
    background-color: #ff5000;
}

.goodsPage .selectbox{
    height: 30px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    line-height: 30px; 
}
.goodsPage .selectbox .chooseAction{
    height: 100%;
    width: 100%;
}
 .goodcover{
font-size: 10px;
position: absolute;
top:0px;
left: 0px;
right: 0px;
bottom:50px;
background-color: rgba(0,0,0,.3);
z-index: -1;
}

.goodcover.active{
    z-index:100;  
}
.goodsPage  .goodtypebox{
    position: absolute;
    background: #fff;
    left: 0px;
    right: 0px;
    bottom:0px;
    padding: 0 10px;
    box-sizing: border-box;
}
.goodsPage  .goodtypebox .goodsstyle{
    border: 1px solid rgba(0,0,0,.3);
    padding: 5px 16px;
    border-radius: 2px;
    font-size: 10px;
    margin: 4px 8px 4px 0;
    display: inline-block;
    color: #666;
}
.goodsPage  .labelbox{
    font-size: 10px;
    width: 100%;
    min-height: 60px;
    max-height: 200px;
    overflow: auto;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.goodsPage  .goodcover .numbox{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    color: #000;
}
.goodsPage  .goodcover .numbox span{
    display: block;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
   border: 1px solid rgba(0,0,0,.4);
   color: #fff;
   margin-left: -1px;
   color: #333;
}
.goodtypebox p{
    font-size:14px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.goodtypebox-top{
    padding-top: 10px;
}
.labelimgbox {
    width: 88px;
    height: 88px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;
}
.smanumbox{
    float: left;
    margin-left: 16px;
}
.smanumbox .jiage{
    font-size: 18px;
    margin-top: 40px;
    color: #ff5000;
}
.btnhide{
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border:1px solid #ddd;
    color: #ddd;
    font-size: 16px;
    float:right;
    line-height: 26px;
}
.labelimgbox img{
    width: 100%;
    height: 100%;

}
.introImg img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.goodsPage  .goodtypebox .goodsstyle.active{
    border: 1px solid #ff5000;
    color: #ff5000;
}